<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> WebSSH </title>
  <link href="static/img/favicon.png" rel="icon" type="image/png">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/xterm.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/fullscreen.min.css" rel="stylesheet" type="text/css" />
  <style>
    .row {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .container {
      margin-top: 20px;
    }

    .btn {
      margin-top: 15px;
    }

    .btn-danger {
      margin-left: 5px;
    }

    /* {% if font.family %} */
    @font-face {
      font-family: '{{ font.family }}';
      src: url('{{ font.url }}');
    }

    body {
      font-family: '{{ font.family }}';
    }

    /* {% end %} */
  </style>
</head>

<body>
  <div id="waiter" style="display: none"> Connecting ... </div>

  <div class="container form-container" style="display: none">
    <form id="connect" action="" method="post" enctype="multipart/form-data" {% if debug %} novalidate{% end %}>
      <div class="row">
        <div class="col">
          <label for="Hostname">Hostnamess</label>
          <input class="form-control" type="text" id="hostname" name="hostname" value="hostname" required>
        </div>
        <div class="col">
          <label for="Port">Port</label>
          <input class="form-control" type="number" id="port" name="port" placeholder="22" value="port" min=1 max=65535>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="Username">Username</label>
          <input class="form-control" type="text" id="username" name="username" value="username" required>
        </div>
        <div class="col">
          <label for="Password">Password</label>
          <input class="form-control" type="password" id="password" name="password" value="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="Username">Private Key</label>
          <input class="form-control" type="file" id="privatekey" name="privatekey" value="">
        </div>
        <div class="col">
          <label for="Passphrase">Passphrase</label>
          <input class="form-control" type="password" id="passphrase" name="passphrase" value="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="totp">Totp (time-based one-time password)</label>
          <input class="form-control" type="password" id="totp" name="totp" value="">
        </div>
        <div class="col">
        </div>
      </div>
      <input type="hidden" id="term" name="term" value="xterm-256color">
      {% module xsrf_form_html() %}
      <button type="submit" class="btn btn-primary">Connect</button>
      <button type="reset" class="btn btn-danger">Reset</button>
    </form>
  </div>

  <div class="container">
    <div id="status" style="color: red;"></div>
    <div id="terminal"></div>
  </div>

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/xterm.min.js"></script>
  <script src="static/js/xterm-addon-fit.min.js"></script>
  <script src="static/js/main.js"></script>
  <script>
    $(document).ready(function () {
      wssh.connect
      var opts = {
        hostname: '96.32.121.85',
        port: '8023',
        username: 'pi',
        password: '',
        privatekey: '-----BEGIN RSA PRIVATE KEY-----\nMIICXAIBAAKBgQC4ZAUA+bS31D+KeXS1XlgW+udX1OE9hMjbI3i2LB/BuGmHHlKB\nuqqiBy80rW6ena5mhfQ0hQBkHoLL8EEIc6M0tD/qctDL3kclC7laB6Eow5sZSTK1\nJAmDwyG1F6rAPUouxsur4KinbLxFJiPdF/89YId8hw03BQ4xliycyYpVLwIDAQAB\nAoGAPg7jpD1mdkxICmnwPq5/BVTykZwDJrpPA3n/wYg+M+vGEITDDghuL1QtrhQE\n2/uD29uPojF1PT0LlmnI6XhJ3/vd0gnzbcK0KWe7qYGXWh2U9HXxGp2u/mL2QXaC\nUEbLhIMCVXc59m/+XL2I5hsQruW4sobU+dg3oA6rtBuMbCkCQQDXZx5oGP9b9tMr\nxlu5b9+ztAAuJlYcK8c8uiEBwV1n8e1eGEYVkxeTveJy1srNJbK3HKu6W9622vdQ\nyFGnbtQVAkEA2yScReSdNjxDTGu7GiDastqwwTKMqFPjPn8Eq1tcwxQuWGhGtIRB\nSP8qj9wQrfVW0slqZxjXjfubaYxTf5oBMwJBAKYkJmLabRQM5EJOY+866Auemcj+\nzso5xhoD4nONJrOG+bPq+xum8beF7YTwQUpMenUcSySZucXGTJ3ldH21USUCQAbG\nSPZ4LMwCbOot4mjaXyhsTk6Kq4KApWPHNXO+rU1ykEQ3ZQgrloEVMlGkMffOv9Jg\nW6O4RuGix5kpt2MYdbUCQENnymFJmDGpHGg+sS3hBefMmGaxIyiC25OFar7p5Hva\niHZl0zcZpjq4tenYYxIttNS+cU93223539Cq1CTkSIU=\n-----END RSA PRIVATE KEY-----',
        passphrase: '',
        totp: ''
      };
      wssh.connect(opts);
      // console.log("opts", opts)
      // var privatekey = '-----BEGIN RSA PRIVATE KEY-----\nMIICXAIBAAKBgQC4ZAUA+bS31D+KeXS1XlgW+udX1OE9hMjbI3i2LB/BuGmHHlKB\nuqqiBy80rW6ena5mhfQ0hQBkHoLL8EEIc6M0tD/qctDL3kclC7laB6Eow5sZSTK1\nJAmDwyG1F6rAPUouxsur4KinbLxFJiPdF/89YId8hw03BQ4xliycyYpVLwIDAQAB\nAoGAPg7jpD1mdkxICmnwPq5/BVTykZwDJrpPA3n/wYg+M+vGEITDDghuL1QtrhQE\n2/uD29uPojF1PT0LlmnI6XhJ3/vd0gnzbcK0KWe7qYGXWh2U9HXxGp2u/mL2QXaC\nUEbLhIMCVXc59m/+XL2I5hsQruW4sobU+dg3oA6rtBuMbCkCQQDXZx5oGP9b9tMr\nxlu5b9+ztAAuJlYcK8c8uiEBwV1n8e1eGEYVkxeTveJy1srNJbK3HKu6W9622vdQ\nyFGnbtQVAkEA2yScReSdNjxDTGu7GiDastqwwTKMqFPjPn8Eq1tcwxQuWGhGtIRB\nSP8qj9wQrfVW0slqZxjXjfubaYxTf5oBMwJBAKYkJmLabRQM5EJOY+866Auemcj+\nzso5xhoD4nONJrOG+bPq+xum8beF7YTwQUpMenUcSySZucXGTJ3ldH21USUCQAbG\nSPZ4LMwCbOot4mjaXyhsTk6Kq4KApWPHNXO+rU1ykEQ3ZQgrloEVMlGkMffOv9Jg\nW6O4RuGix5kpt2MYdbUCQENnymFJmDGpHGg+sS3hBefMmGaxIyiC25OFar7p5Hva\niHZl0zcZpjq4tenYYxIttNS+cU93223539Cq1CTkSIU=\n-----END RSA PRIVATE KEY-----'
      // console.log( "ready!" , privatekey);

    });
  </script>

</body>

</html>